<!-- USB camera launch file-->
<launch>
  
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true">
    # launch-prefix="xterm -e"
    <param name="video_device" value="/dev/video0" />       #Use virtualized camera /dev/video1
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />  #values are mjpeg, yuyv, uyvy
    <param name="camera_frame_id" value="usb_camera_link" />
    <param name="io_method" value="mmap"/>  # values are mmap, read, userptr
    <param name="framerate" value="25" />

  </node>  
</launch>
